# Swap files and logs
*.swp
*.log

# Object files and executables
###################################
*.out
*.o

# Helper files (virtual serial ports -- created in test scripts and
# setUpVirtualSerialPort.sh
VirtualSerialPort*
